.places h1{
  font-size: 30px;
  text-align: left;
  margin-top: 40px 0 auto 20px;
}

.places{
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.places article{
  display: inline-block;
  text-align: center;
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  position: relative;
  min-height: 300px;
}

.places article > h2{
  font-size:30px;
  text-align: center;
  min-height: 80px;
  width: 200px;
  margin: 0 auto;
}

.price_by_night{
  color: #FF5A5F;
  border: 4px solid #FF5A5F;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;  
  position: absolute;
  padding: 5px;
  top: 10px;
  right: 20px;
  line-height: 60px;
}

.information{
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  height: 80px;
}

.max_guest{
  display: inline-block;
  margin: 5px;
  width: 100px;
  line-height: 120px;
  background: url('../images/icon_group.png')top center no-repeat;
}

.number_rooms {
  display:inline-block;
  margin:auto;
  width:100px;
  line-height: 110px;
  background:url('../images/icon_bed.png') top center no-repeat;
}

.number_bathrooms{
  display: inline-block;
  margin: auto;
  width: 100px;
  line-height: 120px;
  background: url('../images/icon_bath.png') top center no-repeat;
}

.user{
  margin-top: 20px;
  margin-bottom: 10px;
  float: left;
}

.description{
  text-align: left;
  float: left;
}
